@charset "ISO-8859-1";

body {
	background-image: url('https://bloximages.chicago2.vip.townnews.com/winonadailynews.com/content/tncms/assets/v3/editorial/4/fe/4fec93d0-2029-5633-a230-bdfda0fc258d/57923ab79e872.image.jpg?resize=1200%2C798');
	 background-repeat: no-repeat; background-size: cover;
}

.header {
	text-align: center; width: 100%; height: 70px; color: red; font-family: cursive;
}

.error-text {
	text-align: center; color: red; width: 100%;
}

.container {
	background-color: lightgreen; margin-left: 350px; margin-right: 350px; border: solid red 4px; height: 250px;
}

form {
	margin: 50px;
}

.input1 {
	margin: 0px 20px 30px 85px;
}

.input2 {
	margin: 0px 20px 20px 90px;
}

.input3 {
	margin: 10px 20px 20px 30px;
}

form p {
	display: inline; margin-left: 120px;
}

form a {
	display: inline;
}